body {
    background-color:rgb(20, 20, 20);
    min-height: 100vh;
    position: relative;
    padding-bottom: 58px;
}
html, body {
    color:rgb(227, 227, 227);
    }
    
* {
font-family: "Inter";
box-sizing: border-box;
line-height: calc(1em + 0.5rem);
margin: 0;
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; 
}

.hero_img {
    border-radius: 50%;
    width: 14rem;
    height: 16rem;
    object-fit: cover;
}

.hero_title {
    text-transform: uppercase;
    color:rgb(131, 241, 186);
    font-size: 400%;
    letter-spacing: -0.10rem;
}

.hero_title2 {
    text-transform: uppercase;
    color:rgb(194, 194, 194);
    font-size: 200%;
    letter-spacing: -0.10rem;
}


.hero_description {
    max-width: 60ch;
}

.about_text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 15%;
    margin-right: 15%;
}



.about_title {
    font-size: x-large;
    color:rgb(131, 241, 186);
}

.about_pic {
    border-radius: 10%;
    padding: 0.5rem;
}

.section {
    background-image: url();
    border-radius: 10px;
    margin-top: 5rem;
}

.footer_img {
    height: 1.5em;
    width: 1.5em;
}

.top-nav {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-image: url(main_back2.jpeg);
color: #FFF;
height: 50px;
padding: 1em;
}

.menu {
display: flex;
flex-direction: row;
text-decoration: none;
margin: 0;
padding: 0;
}

.header_link {
    text-decoration: none;
    list-style-type: none;
    color:rgb(227, 227, 227);
    font-weight: 600;
    transition: 0.75ms;
}

.header_link:hover {
    color: rgb(131, 241, 186);
}

.menu > li {
margin: 0 1rem;
overflow: hidden;
}

.menu-button-container {
display: none;
height: 100%;
width: 30px;
cursor: pointer;
flex-direction: column;
justify-content: center;
align-items: center;
}

#menu-toggle {
display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
display: block;
background-color: #fff;
position: absolute;
height: 4px;
width: 30px;
transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
border-radius: 2px;
}

.menu-button::before {
content: '';
margin-top: -8px;
}

.menu-button::after {
content: '';
margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
margin-top: 0px;
transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
margin-top: 0px;
transform: rotate(-405deg);
}

footer {
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
    padding: 20px;
    position: absolute;
  /*  background-color: #333; */
    bottom: 0;
    width: 100%;
}


.container {
    width: 100%;
    flex: 1 1 auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-left: 0.5rem;
}


@media (min-width: 475px) {

} 

@media (max-width: 768px) {
    
    .menu-button-container {
    display: flex;
    }
    .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    }
    #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
    }
    .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
    }


}

/* lg */
    @media (min-width: 1024px) {

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

